@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --yellow:#f5bf23;
  --black:#111;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
}

* {

  margin: 0;
  padding: 0;
  
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

html::-webkit-scrollbar {
  width: 2rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background:black;
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: black;
  padding-left: 1rem;
  border-left: 1rem solid yellow ;
}

.btn {
  display: inline-block;
  margin-top: 4rem;
  padding: 3rem 3rem;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1.7rem;
 
  
 
}

.btn:hover { 
  background: yellow;
  color: rgb(235,12, 12);
}

@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background: rgb(19, 184, 217);
}

c

.header .navbar a {
  font-size: 6rem;
  color: rgb(38, 219, 89);
 
  margin: 1rem;
}

.header .navbar a:hover {
  color: yellow;
}

.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 4rem;
  background: light-bg;
  color: black;
  cursor: pointer;
  text-align: center;
  margin-left: .3rem;
}

.header .icons div:hover {
  background: black;
  color: white;
}

.header #menu-btn {
  display: none;
}
services {
  background: lawngreen;

}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: var(--border);
}

.services .box-container .box:hover img {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.services .box-container .box img {
  height: 7rem;
  margin-bottom: .5rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.services .box-container .box h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.services .box-container .box p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}
.header .logo {
  font-size: 100;
  

}
.services .heading{
  font-size: large;
  background-color: #f5bf23;
}

